[user]
	name = Jose Antonio Mendoza
	email = 66326890+j0sm3n@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
